body {
  font-family: "Almarai", sans-serif;
}
.lan-page {
  font-family: "Lato", sans-serif;
}
.form-select {
  background-position: left 0.75rem center;
}
.accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}
.nav-link::after {
  right: 0%;
}
.account-card:hover {
  background: url(../images/Pattern.svg) -390px -40px / cover no-repeat,
    var(--main-color);
}
